*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: brown;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.to-do{
     width: 100%;
     max-width: 530px;
     background-color: beige;
     margin: 100px auto 20px;
     padding: 40px 30px 70px;
     border-radius: 10px;
}

.to-do h1{
    font-size: 40px;
    font-weight: 600;
    color: brown;
    margin-bottom: 20px;
   align-items: center;
}

.to-do h1 img{
    width: 10%;
    margin-left: 5px;
}

.input{
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 10px;
}