*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: brown;
    width: 100%;
    height: 100vh;
}

.to-do{
     width: 100%;
     max-width: 530px;
     background-color: beige;
     margin: 50px auto 30px;
}

.to-do h1{
    font-size: 20px;
    font-weight: 600;
    color: chocolate;
}

.to-do h1 img{
    width: 70px;
    height: 80px;
}