*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: bisque;
    width: 100%;
}

.width{

}

.to-do h1{
    font-size: 20px;
    font-weight: 600;
    color: chocolate;
}

.to-do h1 img{
    width: 70px;
    height: 80px;
}